In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('MovieDataset.xlsx')

In [3]:
df = pd.DataFrame(data)
df['Duration (min)'] = df['Duration (min)'] / 10
df.head(10)

,Column1,Title,Year,Duration (min),Genre,Rating,Summary,Director
0,0,The Shawshank Redemption,1994,142.0,Drama,93,"Over the course of several years, two convicts...",Frank Darabont
1,1,The Dark Knight,2008,152.0,ActionCrimeDrama,90,When the menace known as the Joker wreaks havo...,Christopher Nolan
2,2,Inception,2010,148.0,ActionAdventureSci-Fi,88,A thief who steals corporate secrets through t...,Christopher Nolan
3,3,Fight Club,1999,139.0,Drama,88,An insomniac office worker and a devil-may-car...,David Fincher
4,4,Forrest Gump,1994,142.0,DramaRomance,88,The history of the United States from the 1950...,Robert Zemeckis
5,5,Pulp Fiction,1994,154.0,CrimeDrama,89,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino
6,6,Interstellar,2014,169.0,AdventureDramaSci-Fi,87,When Earth becomes uninhabitable in the future...,Christopher Nolan
7,7,The Matrix,1999,136.0,ActionSci-Fi,87,When a beautiful stranger leads computer hacke...,Lilly Wachowski
8,8,The Godfather,1972,175.0,CrimeDrama,92,"Don Vito Corleone, head of a mafia family, dec...",Francis Ford Coppola
9,9,The Lord of the Rings: The Fellowship of the Ring,2001,178.0,ActionAdventureDrama,89,A meek Hobbit from the Shire and eight compani...,Peter Jackson

In [4]:
import re

In [5]:
def camel_case_split(s):
    return re.findall(r'[A-Z](?:[a-z]+|[A-Z]*(?=[A-Z]|$))', s)

df['Genre'] = df['Genre'].apply(lambda x: '/'.join(camel_case_split(x)))

In [6]:
df.head(10)

,Column1,Title,Year,Duration (min),Genre,Rating,Summary,Director
0,0,The Shawshank Redemption,1994,142.0,Drama,93,"Over the course of several years, two convicts...",Frank Darabont
1,1,The Dark Knight,2008,152.0,Action/Crime/Drama,90,When the menace known as the Joker wreaks havo...,Christopher Nolan
2,2,Inception,2010,148.0,Action/Adventure/Sci/Fi,88,A thief who steals corporate secrets through t...,Christopher Nolan
3,3,Fight Club,1999,139.0,Drama,88,An insomniac office worker and a devil-may-car...,David Fincher
4,4,Forrest Gump,1994,142.0,Drama/Romance,88,The history of the United States from the 1950...,Robert Zemeckis
5,5,Pulp Fiction,1994,154.0,Crime/Drama,89,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino
6,6,Interstellar,2014,169.0,Adventure/Drama/Sci/Fi,87,When Earth becomes uninhabitable in the future...,Christopher Nolan
7,7,The Matrix,1999,136.0,Action/Sci/Fi,87,When a beautiful stranger leads computer hacke...,Lilly Wachowski
8,8,The Godfather,1972,175.0,Crime/Drama,92,"Don Vito Corleone, head of a mafia family, dec...",Francis Ford Coppola
9,9,The Lord of the Rings: The Fellowship of the Ring,2001,178.0,Action/Adventure/Drama,89,A meek Hobbit from the Shire and eight compani...,Peter Jackson

In [7]:
len(df)

6278

In [8]:
df.insert(0, 'id', df.index)

In [9]:
df

,id,Column1,Title,Year,Duration (min),Genre,Rating,Summary,Director
0,0,0,The Shawshank Redemption,1994,142.0,Drama,93,"Over the course of several years, two convicts...",Frank Darabont
1,1,1,The Dark Knight,2008,152.0,Action/Crime/Drama,90,When the menace known as the Joker wreaks havo...,Christopher Nolan
2,2,2,Inception,2010,148.0,Action/Adventure/Sci/Fi,88,A thief who steals corporate secrets through t...,Christopher Nolan
3,3,3,Fight Club,1999,139.0,Drama,88,An insomniac office worker and a devil-may-car...,David Fincher
4,4,4,Forrest Gump,1994,142.0,Drama/Romance,88,The history of the United States from the 1950...,Robert Zemeckis
...,...,...,...,...,...,...,...,...,...
6273,6273,6273,Jhund,2022,176.0,Biography/Drama/Sport,74,"Based on the life of Vijay Barse, a retired sp...",Nagraj Manjule
6274,6274,6274,A Short Film About Love,1988,87.0,Drama/Romance,81,A naive inexperienced young man spies on a wom...,Krzysztof Kieslowski
6275,6275,6275,Lucky,2017,88.0,Comedy/Drama/Western,73,Lucky follows the spiritual journey of a 90-ye...,John Carroll Lynch
6276,6276,6276,The Thin Blue Line,1988,101.0,Documentary/Crime,80,A film that successfully argued that a man was...,Errol Morris
6277,6277,6277,Welcome to Marwen,2018,116.0,Biography/Comedy/Drama,62,A victim of a brutal attack finds a unique and...,Robert Zemeckis

In [10]:
df.head(10)

,id,Column1,Title,Year,Duration (min),Genre,Rating,Summary,Director
0,0,0,The Shawshank Redemption,1994,142.0,Drama,93,"Over the course of several years, two convicts...",Frank Darabont
1,1,1,The Dark Knight,2008,152.0,Action/Crime/Drama,90,When the menace known as the Joker wreaks havo...,Christopher Nolan
2,2,2,Inception,2010,148.0,Action/Adventure/Sci/Fi,88,A thief who steals corporate secrets through t...,Christopher Nolan
3,3,3,Fight Club,1999,139.0,Drama,88,An insomniac office worker and a devil-may-car...,David Fincher
4,4,4,Forrest Gump,1994,142.0,Drama/Romance,88,The history of the United States from the 1950...,Robert Zemeckis
5,5,5,Pulp Fiction,1994,154.0,Crime/Drama,89,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino
6,6,6,Interstellar,2014,169.0,Adventure/Drama/Sci/Fi,87,When Earth becomes uninhabitable in the future...,Christopher Nolan
7,7,7,The Matrix,1999,136.0,Action/Sci/Fi,87,When a beautiful stranger leads computer hacke...,Lilly Wachowski
8,8,8,The Godfather,1972,175.0,Crime/Drama,92,"Don Vito Corleone, head of a mafia family, dec...",Francis Ford Coppola
9,9,9,The Lord of the Rings: The Fellowship of the Ring,2001,178.0,Action/Adventure/Drama,89,A meek Hobbit from the Shire and eight compani...,Peter Jackson

In [11]:
def sacar_numeros(arg):
    s = arg.lower()
    s = re.sub(r"\d+", "", s)
    return s

In [12]:
sacar_numeros(" Me vi 30404 peliculas en 2 años")

' me vi  peliculas en  años'

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
cv = CountVectorizer(preprocessor = sacar_numeros,
                    min_df = 5,
                    max_df = 6278 )

bag_of_words = (cv.fit_transform(df['Summary']).toarray())

bag_of_words

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [15]:
summary_columns = [tup[0] for tup in sorted(cv.vocabulary_.items(), key = lambda x: x[1])]

bag_of_words_df = pd.DataFrame(bag_of_words, columns = summary_columns, index = df['Title'])

bag_of_words_df.head()

,abandoned,abducted,abilities,ability,able,aboard,about,above,abroad,abuse,...,young,younger,youngest,youngsters,your,youth,zombie,zombies,zone,zoo
Title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The Dark Knight,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Inception,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Fight Club,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Forrest Gump,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
from itertools import combinations

def tokenizador_generos(string_generos):
    generos_separados = string_generos.split("/")
    resultado = []
    for tamaño in [1,2]:
        combs = ['Genre - ' + "/".join(sorted(tupla)) for tupla in combinations(generos_separados, r = tamaño)]
        resultado = resultado + combs
    return sorted(resultado)

In [17]:
tokenizador_generos('Action/Crime/Drama')

['Genre - Action',
 'Genre - Action/Crime',
 'Genre - Action/Drama',
 'Genre - Crime',
 'Genre - Crime/Drama',
 'Genre - Drama']

In [18]:
contador_generos = CountVectorizer(tokenizer = tokenizador_generos, token_pattern = None, lowercase = False)

contador_generos.fit(df['Genre'])

generos_bag_of_words = contador_generos.fit_transform(df['Genre']).toarray()

generos_bag_of_words

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [19]:
columnas_genero = [tup[0] for tup in sorted(contador_generos.vocabulary_.items(), key = lambda x: x[1])]

bag_of_words_generos = pd.DataFrame(generos_bag_of_words, columns = columnas_genero, index = df['Title'])

bag_of_words_generos.head()

,Genre - Action,Genre - Action/Adventure,Genre - Action/Animation,Genre - Action/Biography,Genre - Action/Comedy,Genre - Action/Crime,Genre - Action/Documentary,Genre - Action/Drama,Genre - Action/Family,Genre - Action/Fantasy,...,Genre - Sci/Thriller,Genre - Sport,Genre - Sport/Thriller,Genre - Sport/War,Genre - Thriller,Genre - Thriller/War,Genre - Thriller/Western,Genre - War,Genre - War/Western,Genre - Western
Title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The Dark Knight,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Inception,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Fight Club,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Forrest Gump,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
bag_of_words_ambos = np.hstack((bag_of_words_df, bag_of_words_generos))

bag_of_words_ambos_df = pd.DataFrame(bag_of_words_ambos, columns = columnas_genero + summary_columns, index = df['Title'])

bag_of_words_ambos_df

,Genre - Action,Genre - Action/Adventure,Genre - Action/Animation,Genre - Action/Biography,Genre - Action/Comedy,Genre - Action/Crime,Genre - Action/Documentary,Genre - Action/Drama,Genre - Action/Family,Genre - Action/Fantasy,...,young,younger,youngest,youngsters,your,youth,zombie,zombies,zone,zoo
Title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The Dark Knight,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Inception,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Fight Club,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Forrest Gump,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jhund,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
A Short Film About Love,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lucky,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
The Thin Blue Line,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Welcome to Marwen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
from sklearn.feature_extraction.text import TfidfTransformer
tf_idf = TfidfTransformer()
tf_idf_movies = tf_idf.fit_transform(bag_of_words_ambos_df).toarray()
tf_idf_movies

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.23984982],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [22]:
tf_idf_movies = pd.DataFrame(tf_idf_movies, index=df['Title'], columns = columnas_genero + summary_columns)

In [23]:
tf_idf_movies

,Genre - Action,Genre - Action/Adventure,Genre - Action/Animation,Genre - Action/Biography,Genre - Action/Comedy,Genre - Action/Crime,Genre - Action/Documentary,Genre - Action/Drama,Genre - Action/Family,Genre - Action/Fantasy,...,young,younger,youngest,youngsters,your,youth,zombie,zombies,zone,zoo
Title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
The Dark Knight,0.0,0.0,0.0,0.225843,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
Inception,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
Fight Club,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
Forrest Gump,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jhund,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.145327,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
A Short Film About Love,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
Lucky,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.23985
The Thin Blue Line,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000
Welcome to Marwen,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

c_similarity = cosine_similarity(tf_idf_movies)

recomendaciones = pd.DataFrame(c_similarity, index = df['Title'], columns = df['Title'])

recomendaciones

Title,The Shawshank Redemption,The Dark Knight,Inception,Fight Club,Forrest Gump,Pulp Fiction,Interstellar,The Matrix,The Godfather,The Lord of the Rings: The Fellowship of the Ring,...,The Bye Bye Man,Texas Chainsaw Massacre: The Next Generation,Killer's Kiss,Cyrano de Bergerac,"I'm a Cyborg, But That's OK",Jhund,A Short Film About Love,Lucky,The Thin Blue Line,Welcome to Marwen
Title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,1.000000,0.037572,0.060942,0.083109,0.038507,0.157175,0.016473,0.014086,0.053947,0.028686,...,0.028450,0.022254,0.018651,0.007885,0.080442,0.018437,0.014015,0.027874,0.000000,0.071122
The Dark Knight,0.037572,1.000000,0.075055,0.046744,0.093978,0.097280,0.040974,0.052938,0.072166,0.106288,...,0.057629,0.056737,0.062073,0.043123,0.028151,0.037330,0.032001,0.058778,0.008840,0.034659
Inception,0.060942,0.075055,1.000000,0.075431,0.112578,0.061233,0.138638,0.124352,0.065419,0.067547,...,0.057609,0.083065,0.062920,0.051802,0.034011,0.062893,0.024607,0.053472,0.000000,0.063692
Fight Club,0.083109,0.046744,0.075431,1.000000,0.043322,0.019759,0.008019,0.017013,0.004035,0.014988,...,0.005032,0.078879,0.020308,0.007058,0.021175,0.040968,0.009249,0.026111,0.032205,0.011116
Forrest Gump,0.038507,0.093978,0.112578,0.043322,1.000000,0.066075,0.054177,0.070816,0.072883,0.118299,...,0.078879,0.064805,0.059929,0.053088,0.064824,0.051536,0.103944,0.071232,0.019028,0.035736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jhund,0.018437,0.037330,0.062893,0.040968,0.051536,0.035949,0.038104,0.046122,0.014574,0.036144,...,0.017471,0.061810,0.020437,0.034220,0.038978,1.000000,0.092716,0.048698,0.019907,0.056121
A Short Film About Love,0.014015,0.032001,0.024607,0.009249,0.103944,0.060167,0.028070,0.057088,0.044080,0.038384,...,0.014179,0.028559,0.020067,0.157142,0.120147,0.092716,1.000000,0.018189,0.024603,0.014064
Lucky,0.027874,0.058778,0.053472,0.026111,0.071232,0.050096,0.019446,0.028499,0.044410,0.089929,...,0.044622,0.078680,0.044145,0.051015,0.022444,0.048698,0.018189,1.000000,0.030610,0.050948
The Thin Blue Line,0.000000,0.008840,0.000000,0.032205,0.019028,0.017306,0.014753,0.000000,0.014101,0.000000,...,0.000000,0.088760,0.032546,0.012983,0.025745,0.019907,0.024603,0.030610,1.000000,0.000000
Welcome to Marwen,0.071122,0.034659,0.063692,0.011116,0.035736,0.045525,0.019903,0.057837,0.048270,0.020595,...,0.015908,0.036723,0.048660,0.087277,0.025513,0.056121,0.014064,0.050948,0.000000,1.000000

In [25]:
np.fill_diagonal(recomendaciones.values, np.nan)  #Asi la peli no nos recomienda la propia pelicula

recomendaciones

Title,The Shawshank Redemption,The Dark Knight,Inception,Fight Club,Forrest Gump,Pulp Fiction,Interstellar,The Matrix,The Godfather,The Lord of the Rings: The Fellowship of the Ring,...,The Bye Bye Man,Texas Chainsaw Massacre: The Next Generation,Killer's Kiss,Cyrano de Bergerac,"I'm a Cyborg, But That's OK",Jhund,A Short Film About Love,Lucky,The Thin Blue Line,Welcome to Marwen
Title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,NaN,0.037572,0.060942,0.083109,0.038507,0.157175,0.016473,0.014086,0.053947,0.028686,...,0.028450,0.022254,0.018651,0.007885,0.080442,0.018437,0.014015,0.027874,0.000000,0.071122
The Dark Knight,0.037572,NaN,0.075055,0.046744,0.093978,0.097280,0.040974,0.052938,0.072166,0.106288,...,0.057629,0.056737,0.062073,0.043123,0.028151,0.037330,0.032001,0.058778,0.008840,0.034659
Inception,0.060942,0.075055,NaN,0.075431,0.112578,0.061233,0.138638,0.124352,0.065419,0.067547,...,0.057609,0.083065,0.062920,0.051802,0.034011,0.062893,0.024607,0.053472,0.000000,0.063692
Fight Club,0.083109,0.046744,0.075431,NaN,0.043322,0.019759,0.008019,0.017013,0.004035,0.014988,...,0.005032,0.078879,0.020308,0.007058,0.021175,0.040968,0.009249,0.026111,0.032205,0.011116
Forrest Gump,0.038507,0.093978,0.112578,0.043322,NaN,0.066075,0.054177,0.070816,0.072883,0.118299,...,0.078879,0.064805,0.059929,0.053088,0.064824,0.051536,0.103944,0.071232,0.019028,0.035736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jhund,0.018437,0.037330,0.062893,0.040968,0.051536,0.035949,0.038104,0.046122,0.014574,0.036144,...,0.017471,0.061810,0.020437,0.034220,0.038978,NaN,0.092716,0.048698,0.019907,0.056121
A Short Film About Love,0.014015,0.032001,0.024607,0.009249,0.103944,0.060167,0.028070,0.057088,0.044080,0.038384,...,0.014179,0.028559,0.020067,0.157142,0.120147,0.092716,NaN,0.018189,0.024603,0.014064
Lucky,0.027874,0.058778,0.053472,0.026111,0.071232,0.050096,0.019446,0.028499,0.044410,0.089929,...,0.044622,0.078680,0.044145,0.051015,0.022444,0.048698,0.018189,NaN,0.030610,0.050948
The Thin Blue Line,0.000000,0.008840,0.000000,0.032205,0.019028,0.017306,0.014753,0.000000,0.014101,0.000000,...,0.000000,0.088760,0.032546,0.012983,0.025745,0.019907,0.024603,0.030610,NaN,0.000000
Welcome to Marwen,0.071122,0.034659,0.063692,0.011116,0.035736,0.045525,0.019903,0.057837,0.048270,0.020595,...,0.015908,0.036723,0.048660,0.087277,0.025513,0.056121,0.014064,0.050948,0.000000,NaN

In [26]:
sort_movies = np.argsort((-c_similarity), axis = 1)

sort_movies

array([[2932, 2633, 5297, ..., 2647, 2482,    0],
       [  11,   16, 1368, ..., 4420, 1773,    1],
       [ 402,  713,  419, ..., 6159,  507,    2],
       ...,
       [2849, 5848, 3382, ..., 4996, 1133, 6275],
       [1741, 6248, 4105, ..., 3370, 6277, 6276],
       [4118, 1532, 3833, ..., 3586, 4922, 6277]], dtype=int64)

In [27]:
c_similarity_sort = np.sort(-c_similarity, axis = 1)

c_similarity_sort

array([[-0.26652093, -0.25774133, -0.21634651, ..., -0.        ,
        -0.        ,         nan],
       [-0.33747913, -0.32686008, -0.25601091, ..., -0.        ,
        -0.        ,         nan],
       [-0.28988298, -0.26982291, -0.26891374, ..., -0.        ,
        -0.        ,         nan],
       ...,
       [-0.25886144, -0.25496943, -0.25046644, ..., -0.        ,
        -0.        ,         nan],
       [-0.28042427, -0.26192119, -0.24771091, ..., -0.        ,
        -0.        ,         nan],
       [-0.24224997, -0.23971441, -0.2339063 , ..., -0.        ,
        -0.        ,         nan]])

In [28]:

def movie_recommendation(movie, k):
    # Obtén la fila correspondiente a la película
    movie_row = df[df['Title'] == movie].index[0]

    # Obtén las películas más similares y las similitudes correspondientes
    movie_sorted_sim = sort_movies[movie_row]
    lista_ordenada_sims = c_similarity_sort[movie_row]

    # Obtiene las primeras k películas
    top_k = movie_sorted_sim[:k]
    cosine_sim_top_k = lista_ordenada_sims[:k]

    # Crea un DataFrame con las películas más similares y sus similitudes
    top_k_df = df.loc[top_k].copy()
    top_k_df['Similaridad'] = cosine_sim_top_k

    return top_k_df

In [29]:
df.drop(df.columns[0], axis=1, inplace=True)

In [36]:
movie_recommendation('Iron Man 2',10)

,Column1,Title,Year,Duration (min),Genre,Rating,Summary,Director,Similaridad
87,87,Iron Man 3,2013,130.0,Action/Adventure/Sci/Fi,71,When Tony Stark's world is torn apart by a for...,Shane Black,-0.311699
220,220,Star Trek,2009,127.0,Action/Adventure/Sci/Fi,79,The brash James T. Kirk tries to live up to hi...,J.J. Abrams,-0.274286
80,80,Avengers: Age of Ultron,2015,141.0,Action/Adventure/Sci/Fi,73,When Tony Stark and Bruce Banner try to jump-s...,Joss Whedon,-0.272300
50,50,Iron Man,2008,126.0,Action/Adventure/Sci/Fi,79,"After being held captive in an Afghan cave, bi...",Jon Favreau,-0.260922
432,432,Black Widow,2021,134.0,Action/Adventure/Sci/Fi,67,Natasha Romanoff confronts the darker parts of...,Cate Shortland,-0.254079
1274,1274,Blade: Trinity,2004,113.0,Action/Horror/Sci/Fi,58,"Blade, now a wanted man by the FBI, must join ...",David S. Goyer,-0.247876
4743,4743,Honey Boy,2019,94.0,Drama,72,A young actor's stormy childhood and early adu...,Alma Har'el,-0.238853
2930,2930,Outlander,2008,115.0,Action/Adventure/Sci/Fi,62,"During the reign of the Vikings, Kainan, a man...",Howard McCain,-0.228493
3974,3974,Superman IV: The Quest for Peace,1987,90.0,Action/Adventure/Sci/Fi,37,The Man of Steel crusades for nuclear disarmam...,Sidney J. Furie,-0.209849
292,292,X-Men Origins: Wolverine,2009,107.0,Action/Sci/Fi,65,"The early years of James Logan, featuring his ...",Gavin Hood,-0.209060