### Preprocessing Data ###

In [1]:
import pandas as pd

In [11]:
data = pd.read_csv('cleaned_data')
df = pd.DataFrame(data)
df = df.drop('Unnamed: 0', axis=1)
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [12]:
df.tail()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
297,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
298,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
299,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
300,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
301,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [13]:
df.shape

(302, 14)

In [14]:
df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

#### Standarization ####

We wanna standirze numerical feautres mostly as standirizing categorial are not meaningful.

In [19]:
x = df.iloc[:,[0, 3, 4, 7,9]]
x

     age  trtbps  chol  thalachh  oldpeak
0     63     145   233       150      2.3
1     37     130   250       187      3.5
2     41     130   204       172      1.4
3     56     120   236       178      0.8
4     57     120   354       163      0.6
..   ...     ...   ...       ...      ...
297   57     140   241       123      0.2
298   45     110   264       132      1.2
299   68     144   193       141      3.4
300   57     130   131       115      1.2
301   57     130   236       174      0.0

[302 rows x 5 columns]

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [21]:
x_train, x_test = train_test_split(x, random_state = 42)

In [23]:
x_train.head()

     age  trtbps  chol  thalachh  oldpeak
286   57     154   232       164      0.0
281   59     126   218       134      2.2
197   62     120   267        99      1.8
158   58     125   220       144      0.4
164   67     160   286       108      1.5

In [24]:
scaler = StandardScaler().fit(x_train)
print(scaler)

StandardScaler()

In [25]:
scaler.mean_  #Media

array([ 54.5       , 131.08849558, 245.51327434, 149.30530973,
         1.00884956])

In [26]:
scaler.scale_   #Varianza

array([ 9.13141519, 17.78661997, 53.04449878, 22.19761743,  1.10993562])

In [29]:
x_train_scaled = scaler.transform(x_train)
print(x_train_scaled)

[[ 0.27378013  1.28813144 -0.25475355  0.66199403 -0.90892619]
 [ 0.49280423 -0.28608558 -0.5186829  -0.68950237  1.07317075]
 [ 0.82134038 -0.6234178   0.40506982 -2.26624816  0.71278949]
 ...
 [ 1.58792473  1.62546366 -0.21704936 -0.82465201 -0.81883088]
 [ 0.71182833  0.16369071 -0.21704936 -0.19395369  1.43355201]
 [ 0.93085243  0.50102293 -0.95228111  1.33774223 -0.90892619]]

In [30]:
x_train_scaled.std(axis=0)

array([1., 1., 1., 1., 1.])

In [32]:
scaler = StandardScaler().fit(x_test)

In [34]:
x_test.head()

     age  trtbps  chol  thalachh  oldpeak
179   55     132   353       132      1.2
228   64     125   309       131      1.8
111   57     150   126       173      0.2
246   66     160   246       120      0.0
60    71     110   265       130      0.0

In [37]:
scaler.mean_

array([ 54.18421053, 133.13157895, 249.43421053, 150.35526316,
         1.14473684])

In [35]:
x_test_scaled = scaler.transform(x_test)

In [38]:
df[(df['chol']>350)].sort_values(by='chol', ascending=False)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
245,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
219,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
179,55,1,0,132,353,0,1,132,1,1.2,1,1,3,0

In [42]:
df.drop(df.index[df['chol']==564],axis=0, inplace=True) 
df['chol'].skew()

 ### Dealing with atypical data or ouliners  ###

0.523645918715455

### Model with Logistic Regression ###

In [44]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [47]:
X = df[['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall']]
y = df['output']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [48]:
model_lr = LogisticRegression(random_state=42)

# Train the model on the training data
model_lr.fit(X_train, y_train)

C:\Users\U0130678\AppData\Local\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [49]:
y_pred = model_lr.predict(X_test)

In [50]:
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy:.2f}')
print(f'Confusion Matrix:\n{conf_matrix}')
print(f'Classification Report:\n{classification_report_str}')

Accuracy: 0.84
Confusion Matrix:
[[20  8]
 [ 2 31]]
Classification Report:
              precision    recall  f1-score   support

           0       0.91      0.71      0.80        28
           1       0.79      0.94      0.86        33

    accuracy                           0.84        61
   macro avg       0.85      0.83      0.83        61
weighted avg       0.85      0.84      0.83        61

#### Understaiding the info above ####

#### Accuracy 
84% of the predictions are correct. This is the overall performance metric.

#### Confusion Matrix
True Positive (TP): 31
True Negative (TN): 20
False Positive (FP): 8
False Negative (FN): 2

#### Precision 
Of the instances predicted as positive, 79% are actually positive. It measures the accuracy of the positive predictions.

#### Recall (Sensitivity) 
Of the actual positive instances, 94% were correctly predicted. It measures the ability of the model to capture all positive instances.

####  F1-Score 
The harmonic mean of precision and recall. It provides a balance between precision and recall.

#### Support 
The number of actual occurrences of the class in the specified dataset.

#### Macro Avg
The average of precision, recall, and F1-score across classes.

####  Weighted Avg 
The weighted average of precision, recall, and F1-score, considering the support for each class.

In [52]:
def predict_heart_attack():
    # Get user input for each feature
    age = int(input("Enter age: "))
    sex = int(input("Enter sex (0 for male, 1 for female): "))
    cp = int(input("Enter chest pain type (0-3): "))
    trtbps = int(input("Enter resting blood pressure: "))
    chol = int(input("Enter cholesterol level: "))
    fbs = int(input("Enter fasting blood sugar (0 or 1): "))
    restecg = int(input("Enter resting electrocardiographic results (0-2): "))
    thalachh = int(input("Enter maximum heart rate achieved: "))
    exng = int(input("Enter exercise induced angina (0 or 1): "))
    oldpeak = float(input("Enter ST depression induced by exercise relative to rest: "))
    slp = int(input("Enter slope of the peak exercise ST segment (0-2): "))
    caa = int(input("Enter number of major vessels (0-3): "))
    thall = int(input("Enter thalassemia type (0-3): "))

    # Create a DataFrame with user input
    user_data = pd.DataFrame({
        'age': [age],
        'sex': [sex],
        'cp': [cp],
        'trtbps': [trtbps],
        'chol': [chol],
        'fbs': [fbs],
        'restecg': [restecg],
        'thalachh': [thalachh],
        'exng': [exng],
        'oldpeak': [oldpeak],
        'slp': [slp],
        'caa': [caa],
        'thall': [thall]
    })

    # Make predictions
    prediction = model_lr.predict(user_data)

    # Display the prediction
    if prediction[0] == 0:
        print("The model predicts no heart attack.")
    else:
        print("The model predicts a likelihood of a heart attack.")

# Call the function to get predictions based on user input
predict_heart_attack()

Enter age: 21
Enter sex (0 for male, 1 for female): 0
Enter chest pain type (0-3): 3
Enter resting blood pressure: 160
Enter cholesterol level: 200
Enter fasting blood sugar (0 or 1): 0
Enter resting electrocardiographic results (0-2): 0
Enter maximum heart rate achieved: 125
Enter exercise induced angina (0 or 1): 0
Enter ST depression induced by exercise relative to rest: 0
Enter slope of the peak exercise ST segment (0-2): 0
Enter number of major vessels (0-3): 3
Enter thalassemia type (0-3): 1
The model predicts a likelihood of a heart attack.

### Model with Random Forest Classifier ###

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [55]:
model_rf = RandomForestClassifier(random_state=42)

# Train the model on the training data
model_rf.fit(X_train, y_train)

# Make predictions on the testing set
y_pred_rf = model_rf.predict(X_test)

# Evaluate the model
accuracy_rf = accuracy_score(y_test, y_pred_rf)
conf_matrix_rf = confusion_matrix(y_test, y_pred_rf)
classification_report_rf = classification_report(y_test, y_pred_rf)

In [56]:
classification_report_rf

'              precision    recall  f1-score   support\n\n           0       0.81      0.75      0.78        28\n           1       0.80      0.85      0.82        33\n\n    accuracy                           0.80        61\n   macro avg       0.80      0.80      0.80        61\nweighted avg       0.80      0.80      0.80        61\n'

In [ ]:
def predict_heart_attack_rf():
    # Get user input for each feature
    age = int(input("Enter age: "))
    sex = int(input("Enter sex (0 for male, 1 for female): "))
    cp = int(input("Enter chest pain type (0-3): "))
    trtbps = int(input("Enter resting blood pressure: "))
    chol = int(input("Enter cholesterol level: "))
    fbs = int(input("Enter fasting blood sugar (0 or 1): "))
    restecg = int(input("Enter resting electrocardiographic results (0-2): "))
    thalachh = int(input("Enter maximum heart rate achieved: "))
    exng = int(input("Enter exercise induced angina (0 or 1): "))
    oldpeak = float(input("Enter ST depression induced by exercise relative to rest: "))
    slp = int(input("Enter slope of the peak exercise ST segment (0-2): "))
    caa = int(input("Enter number of major vessels (0-3): "))
    thall = int(input("Enter thalassemia type (0-3): "))

    # Create a DataFrame with user input
    user_data_rf = pd.DataFrame({
        'age': [age],
        'sex': [sex],
        'cp': [cp],
        'trtbps': [trtbps],
        'chol': [chol],
        'fbs': [fbs],
        'restecg': [restecg],
        'thalachh': [thalachh],
        'exng': [exng],
        'oldpeak': [oldpeak],
        'slp': [slp],
        'caa': [caa],
        'thall': [thall]
    })

    # Make predictions using Random Forest Classifier
    prediction_rf = model_rf.predict(user_data_rf)

    # Display the prediction
    if prediction_rf[0] == 0:
        print("The Random Forest Classifier predicts no heart attack.")
    else:
        print("The Random Forest Classifier predicts a likelihood of a heart attack.")

# Call the function to get predictions based on user input for Random Forest Classifier
predict_heart_attack_rf()

### Using SVM ###

In [57]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [58]:
X = df[['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall']]
y = df['output']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [59]:
# Initialize the Support Vector Machine model
model_svm = SVC(random_state=42)

# Train the model on the training data
model_svm.fit(X_train, y_train)

# Make predictions on the testing set
y_pred_svm = model_svm.predict(X_test)

# Evaluate the model
accuracy_svm = accuracy_score(y_test, y_pred_svm)
conf_matrix_svm = confusion_matrix(y_test, y_pred_svm)
classification_report_svm = classification_report(y_test, y_pred_svm)

In [60]:
classification_report_svm

'              precision    recall  f1-score   support\n\n           0       0.76      0.57      0.65        28\n           1       0.70      0.85      0.77        33\n\n    accuracy                           0.72        61\n   macro avg       0.73      0.71      0.71        61\nweighted avg       0.73      0.72      0.71        61\n'

In [ ]:
def predict_heart_attack_svm():
    # Get user input for each feature
    age = int(input("Enter age: "))
    sex = int(input("Enter sex (0 for male, 1 for female): "))
    cp = int(input("Enter chest pain type (0-3): "))
    trtbps = int(input("Enter resting blood pressure: "))
    chol = int(input("Enter cholesterol level: "))
    fbs = int(input("Enter fasting blood sugar (0 or 1): "))
    restecg = int(input("Enter resting electrocardiographic results (0-2): "))
    thalachh = int(input("Enter maximum heart rate achieved: "))
    exng = int(input("Enter exercise induced angina (0 or 1): "))
    oldpeak = float(input("Enter ST depression induced by exercise relative to rest: "))
    slp = int(input("Enter slope of the peak exercise ST segment (0-2): "))
    caa = int(input("Enter number of major vessels (0-3): "))
    thall = int(input("Enter thalassemia type (0-3): "))

    # Create a DataFrame with user input
    user_data_svm = pd.DataFrame({
        'age': [age],
        'sex': [sex],
        'cp': [cp],
        'trtbps': [trtbps],
        'chol': [chol],
        'fbs': [fbs],
        'restecg': [restecg],
        'thalachh': [thalachh],
        'exng': [exng],
        'oldpeak': [oldpeak],
        'slp': [slp],
        'caa': [caa],
        'thall': [thall]
    })

    # Make predictions using Support Vector Machine
    prediction_svm = model_svm.predict(user_data_svm)

    # Display the prediction
    if prediction_svm[0] == 0:
        print("The Support Vector Machine predicts no heart attack.")
    else:
        print("The Support Vector Machine predicts a likelihood of a heart attack.")

# Call the function to get predictions based on user input for Support Vector Machine
predict_heart_attack_svm()